<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>register</title>
  <meta name="robots" content="noindex">
  <meta name="googlebot" content="noindex">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />

<script src="https://kit.fontawesome.com/012aae2d8e.js" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
  
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

  <!-- Vendor CSS Files -->


  <!-- External CSS File -->
  <link rel="stylesheet" href="./registration.css">
  


<body>
    <header id="header" class="fixed-top header-transparent">
        <div class="container d-flex ">
      
         <!-- <h1 class="logo mr-auto"><a href="index.html">CGV.IN.NET</a></h1> -->
          <!-- Uncomment below if you prefer to use an image logo -->
          <a href="/index.htm" class="logo mr-auto"><img src="/IMG-20230609-WA0040.jpg" alt="" class="img-fluid"></a>
      
          <nav class="main-nav d-none d-lg-block dark">
            <ul>
              <li class="active"><a href="index.html">HOME</a></li>
              <li><a href="#why-us">ABOUT US</a></li>
              <li><a href="#services">AVAILABLE JOBS</a></li>
              <li><a href="#pricing">ENGINEERS</a></li>
              <li><a href="#pricing">CLIENTS</a></li>
              <li><a href="#pricing">BUSINESS & TRAINING</a></li>
              <li><a href="#pricing">TALENTS & BLOG</a></li>
              <li><a href="#team">TEAM</a></li>
              <li><a href="#footer">CONTACT US</a></li>
            </ul>
          </nav><!-- .main-nav-->
          <div class="dashboard-input">
            <a href="#" class="main-login">post job</a>
            <a href="/login/login.html" class="main-login">Login</a>
            <a href="#" class="main-register">Looking for job</a>
          </div>
      
        </div>
      </header>
      <!-- registration text starts here -->
      <div class="reg-title">
        <div class="container" style="top: 50% !important;">
            <div class="position-relative" style="top: 50% !important;">
                <div class="row">
                    <div class=" text-center">
                        <div class="reg-text">
                            <h1>register</h1>
                        </div>
                        <p class="mt-30">start your enginerring career here today and enjoy engineering to the fullness</p>
                    </div>
                </div>
            </div>
        </div>
      </div>

      <section class="registration-section position-relative pt-100 lg-pt-80 pb-150 lg-pb-80">
        <div class="container">
            <div class="user-data-form">
                <div class="text-center">
                    <h2>creat Account</h2>
                </div>
                <div class="form-wrapper m-auto">
                    
                    <div class="tab-content">
                        <div class="tab-panel show active fade">
                            <form action="registration">
                                <div class="row">
                                  <div class="col-12">
                                    <div class="input-groop-meta position-relative">
                                      <label for="firstName">first Name <span>*</span></label>
                                      <input type="text" name="firstName" id="firstName " placeholder="enter your first Name">
                                    </div>
                                  </div>

                                  <div class="col-12">
                                    <div class="input-groop-meta position-relative">
                                      <label for="firstName">middle Name <span>*</span></label>
                                      <input type="text" name="middleName" id="middleName" placeholder="enter your middle Name">
                                    </div>
                                  </div>

                                  <div class="col-12">
                                    <div class="input-groop-meta position-relative">
                                      <label for="lastName">last Name <span>*</span></label>
                                      <input type="text" name="lastName" id="lastName " placeholder="enter your last Name">
                                    </div>
                                  </div>


                                  <div class="col-12">
                                    <div class="input-groop-meta position-relative">
                                      <label for="country">country <span>*</span></label>
                                      <input type="text" name="country" id="country " placeholder="enter your country">
                                    </div>
                                  </div>

                                  <div class="col-12">
                                    <div class="input-groop-meta position-relative">
                                      <label for="state">state <span>*</span></label>
                                      <input type="text" name="state" id="state " placeholder="enter your state">
                                    </div>
                                  </div>


                                  <div class="col-12">
                                    <div class="input-groop-meta position-relative">
                                      <label for="town">town/city <span>*</span></label>
                                      <input type="text" name="town" id="town " placeholder="enter your town">
                                    </div>
                                  </div>

                                  <div class="col-12">
                                    <div class="input-groop-meta position-relative">
                                      <label for="zipCode">zip code<span>*</span></label>
                                      <input type="text" name="zipCode" id="zipCode" placeholder="enter your Zip Code">
                                    </div>
                                  </div>

                                  <div class="col-12">
                                    <div class="input-groop-meta position-relative">
                                      <label for="email">email<span>*</span></label>
                                      <input type="email" name="email" id="email " placeholder="enter your email" required>
                                    </div>
                                  </div>


                                  <div class="col-12">
                                    <div class="input-groop-meta position-relative">
                                      <label for="phone">phone no <span>*</span></label>
                                      <input type="text" name="phone" id="phone" placeholder="enter your Phone No">
                                    </div>
                                  </div>


                                  <div class="col-12">
                                    <div class="input-groop-meta position-relative">
                                      <label for="password">password <span>*</span></label>
                                      <input type="password" name="password" id="password " placeholder="enter password" required>
                                    </div>
                                  </div>

                                  <div class="col-12">
                                    <div class="input-groop-meta position-relative">
                                      <label for="confirm-password">confirm pass <span>*</span></label>
                                      <input type="password" name="confirm-password" id="confirm-password " placeholder="confirm your password" required>
                                    </div>
                                  </div>

                                  <div class="col-12">
                                    <div class=" position-relative costom-select">
                                      <select name="catigory" id="register-catigory">
                                        <option selected>Select your catigory</option>
                                        <option value="Engineer">Engineer</option>
                                        <option value="client">client</option>
                                        <option value="student">student</option>
                                      </select>
                                  
                                
                      
                                    </div>
                                  </div>

                                  <div class="col-12">
                                    <button class="register-btn ">register</button>
                                  </div>









                                    
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>












<!-- vendor js -->
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"
  ></script>
  <!-- External js -->
  <script src="./registration.js"></script>
</body>

</html>